@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');


.container-fluid{
    padding-left: 0;
} 

header{
    width: 100%;
    height: 35.25rem;
    background-image: url(../image/Image\ Background.png);
}  

.menu-busca{
    position: absolute;
    display: flex;
    width: 80%;
    height: 100px;
    margin: 300px 13px 22px 150px;
    padding: 15px;
    /* top: 624px; */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
}

.borda {
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff00;
    background-color: #ffffff75;
    border-radius: 10px;
}

.card-body{
    margin-top: 3.125rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card{
    margin: 0.25rem;
}

.btn{
    margin-left: 20px;
}
.btn-outline-secondary {
    color: #E7AC72;
    border-color: #E7AC72;
}
  
.btn-outline-secondary {
    color: #fff;
    background-color: #E7AC72;
    border-color: #E7AC72;
}

.botao{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-btn{
    color: #000;
    background-color: #fff;
    border-color: #E7AC72;
}

.menu-btn:hover{
    background-color: #E7AC72;
    color: #fff;
}

button.menu-btn{
    width: 15%;
    height:47px;
    margin: 5px;
    border-radius: 10px;
}

.page-link{
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: 0px;
    line-height: 1.25;
    color: #000000;
    border: 0;
}

